<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>360183718670-ppppfiagl0b9ahgr6iuloeghsfqh5b5o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.360183718670-ppppfiagl0b9ahgr6iuloeghsfqh5b5o</string>
	<key>API_KEY</key>
	<string>AIzaSyD7r2Z37wDny6udFIYo3cR24jh3rIa4B_M</string>
	<key>GCM_SENDER_ID</key>
	<string>360183718670</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newMusic</string>
	<key>PROJECT_ID</key>
	<string>music-b2ce6</string>
	<key>STORAGE_BUCKET</key>
	<string>music-b2ce6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:360183718670:ios:f11a11837dfd0ae398ed5f</string>
</dict>
</plist>